@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.header{
	position: relative;
	width: 1200px;
	height: 90px;
	left: 360px;
}
.header_logo{
	position: absolute;
	width: 146px;
	height: 38px;
	top : 26px;
}
.header_navi{
	position: absolute;
	width: 160px;
	height: 20px;
	left: 803px;
	top: 26px;
	
}
.signup{
	position :absolute;
	left : 91px;
}