@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.header{
	position: relative;
	width: 1200px;
	height: 90px;
	left: 360px;
}
.header_logo {
	width : 146px; height : 38px;
	cursor: pointer;
}
.header_logo > img{
	
	font-family : 'Noto Sans KR' !important;
	position: absolute;
	width: 200px;
	top : -40px;
	
	
	
}
.header_navi{
	
	display : inline-flex;
	
	position: absolute;
	width: 160px;
	height: 20px;
	left: 903px;
	top: 40px;
	
}
.header_navi > a{
	margin : 0; padding : 0;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-decoration: none;
	color: #000;
}
.header_navi > a:last-child {
	position :absolute;
	left : 91px;
}

.login {
	
	margin : 0; padding : 0;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	
}
.login:hover {
	
	cursor : pointer;
	
	font-weight: 700;
	color : #2E407B;
	
	transition : 0.05s;
}
.signup{
	
	margin : 0; padding : 0;
	
	position :absolute;
	left : 91px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
}
.signup:hover {
	
	cursor : pointer;
	
	font-weight: 700;
	color : #2E407B;
	
	transition : 0.05s;
}