
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	overflow-x:hidden; 
}

/*배너 시작*/
.banner{
	position : absolute;
	width: 1920px;
	height: 470px;
	
	background: #2E407B;
}
.search_bar{
	box-sizing: border-box;
	
	position: absolute;
	width: 31.2500vw;
	height: 60px;
	left: 34.375vw;
	top: 230px;
	
	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	
	padding : 0 0 0 30px;
	
	/*검색창 폰트*/
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
}
.search_bar:focus{
	outline : none;
}
.banner_write > .frist_line {
	position: relative;
	width: 450px;
	height: 61px;
	left: 38.54vw;
	top: 110px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 61px;
	/* identical to box height */
	text-align: center;
	
	color: #FFFFFF;
}
.banner_write{
	position: relative;
}
.banner_write > .second_line {
	position: absolute;
	width: 300px;
	height: 26px;
	left: 42.23vw;
	top: 181px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	/* identical to box height */
	text-align: center;
	
	color: #CCCCCC;
}
.banner > form > .fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    top: 247px;
    left: 63.4375vw;
    cursor: pointer;
}
.banner > .top_search{
	
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
	
	width: 497px;
	
	margin: 257px 0 0 37.08vw;
}
.top_search>.keyword {
	margin: 12px 0 0 8px;
	padding : 4px 11px;
	background-color:  rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
	color: #FFFFFF;
	
	cursor: pointer;
}

/*배너 끝*/
/*카테고리 시작*/
.circle{
	position : relative;
	width:90px;
	height:90px;
	background: #C4C4C4;
	border-radius: 45px;
}
.cate_list_box{
	position: absolute;
    width: 750px;
    height: 131px;
    top: 560px;
}
.cate_list_box > ul {
	width : 750px;
	display : inline-flex;
	list-style: none;
	margin : 90px 0 0 585px;
	padding : 0;
}
.cate_list_box >ul> li{
	margin: 0 0 0 20px;
}
.cate_list_box >ul> li:hover{
	cursor : pointer;
}
.cate_name{
	height: 26px;
	
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
}
/*카테고리 끝*/
/*스와이퍼 시작*/
.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
.swiper-horizontal .swiper-scrollbar{
  width: 440px;
  background: #C4C4C4;
  left : 700px;
  top : 0px;
  
  border-radius: 0;
}
.swiper-scrollbar-drag{
	width: 220px;
	
	background: #2E407B;
	
	border-radius: 0;

}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
{
	left: 4%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.swiper-pagination{
	top: 390px;
    position: absolute;
    text-align: left;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-zoom-container {
	text-align: left
}
.swiper-slide-active > .content{
	transition : 0.3s;
	transform: scale(1.2);
		
	cursor : pointer;
}
/*스와이퍼 끝*/
/*일일키워드 시작*/
.day_key{
	position: absolute;
    width: 1200px;
    height: 412px;
    top: 931px;
    left: 433px;
}
.day_key>.swiper-wrapper >.swiper-slide{
	display : inline-flex;
}
.day_key>.swiper-wrapper >.swiper-slide >.text_box {
	width: 714px;
	height: 591px;
}
.day_key>.swiper-wrapper >.swiper-slide > .text_box > .subhead {
	
	position : absolute;
	
	width: 365px;
	height: 58px;
	
	text-decoration: underline;
	text-underline-position : under;
	font-family: Noto Sans KR;
	font-size: 40px;
	font-weight: 500;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: left;
	margin : 62px 0 0 0;
	
	left: 0px;
	top : 0px;
	
}
.day_key>.swiper-wrapper >.swiper-slide > .text_box  > .text {
	
	position : absolute;
	
	width: 320px;
	height: 78px;
	
	margin : 45px 0 0 0;
	
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #555555;
	
	left: 0px;
	top : 165px;
}


.day_key>.swiper-wrapper >.swiper-slide >  .text_box  > .day_key_submit{
	
	position : absolute;
	outline: none;
	background: #000000;
	border-radius: 30px;
	width: 150px;
	height: 50px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	left: 0px;
	top : 320px;
	/* identical to box height, or 133% */

	color: #FFFFFF;
}
.day_key> .swiper-wrapper >.swiper-slide >  .text_box  > .day_key_submit:hover{

	cursor: pointer;
}
.day_key>.swiper-wrapper >.swiper-slide > .img_box {
	position : absolute;
	width: 513px;
	height: 412px;
	left : 543px;
}
.day_key>.swiper-wrapper >.swiper-slide > .img_box > .subhead{
	
	width: 260px;
	height: 46px;
	
	margin : 0 0 0 129px;
	
	font-family: Noto Sans KR;
	font-size: 32px;
	font-weight: 500;
	line-height: 46px;
	letter-spacing: 0em;
	text-align: center;
	
}
.day_key>.swiper-wrapper >.swiper-slide > .img_box > .img_1 {
	width: 513px;
	height: 350px;
	margin : 16px 0 0 0;
	background: #C4C4C4;
	border-radius: 30px;
	
	
}
.day_key>.swiper-wrapper >.swiper-slide > .img_box > .img_2 {
	width: 513px;
	height: 350px;
	margin : 16px 0 0 0;
	background: #FF9A9A ;
	border-radius: 30px;
	
	
}
.day_key>.swiper-wrapper >.swiper-slide > .img_box > .img_3 {
	width: 513px;
	height: 350px;
	margin : 16px 0 0 0;
	background: #5553C9;
	border-radius: 30px;
}
/*일일키워드 끝*/
/*지역인기 시작*/
.local_popul_service{
	position: absolute;
	
    width: 278px; height: 406px;
    
    top: 1500px;
    left: 18.75vw;
	
}
.local_popul_service > p {
	
	position : absolute;
	
	width: 300px;
	height : 46px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	
	color: #000000;
	
	left :24.635416666666668vw;


}

.local_popul_service > ul {
	list-style: none;
	display: flex;
	width : 1200px;
}
.local_popul_service > ul > li{	
	width: 278px;
	margin : 0 0 0 30px;
}

.local_popul_service > ul > li >.contents {
	position : absolute;
	display : inline-flex;
	
	cursor : pointer;
	
	top: 150px;
	
	width: 278px;
	height: 350px;
	
	border-radius: 40px;
	
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
	
}

.local_popul_service > ul > li > .contents > .content{
	position : absolute;
	width: 278px;
	height: 230px;
	border-radius: 40px 40px 0 0;
	background: #C4C4C4;
	
}
.local_popul_service > ul > li > .contents > .text_box{
	
	position : absolute;
	
	width: 278px;
	height: 120px;
	border-radius: 0 0 40px 40px;
	background: #ffffff;
	
	top : 230px;
}

.local_popul_service > ul > li > .contents > .text_box > p {
	padding : 0; margin : 0;
}
.local_popul_service > ul > li > .contents >.text_box > .subhead {
	
	position : absolute;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 29px;
	
	top : 55px;
	left : 25px;
}
.local_popul_service > ul > li > .contents >.text_box > .keyword{
	
	position :absolute;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	text-align: left;
	
	top : 20px;
	left : 25px;
	
	color: #000000;
}
.local_popul_service > ul > li > .contents >.text_box > .star_box{
	
	position: absolute;
	top : 20px; left : 155px;
	
}
.local_popul_service > ul > li > .contents >.text_box > .star_box >.fa-star {
	font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
	color : #C4C4C4;
	left:-10px;
}

.local_popul_service > ul > li > .contents >.text_box > .star_box >.fa-star:nth-child(2) {
	position : absolute;
	top : 5px;
	left: 19px;
}

.local_popul_service > ul > li > .contents >.text_box > .star_box >.fa-star:nth-child(3) {
	position : absolute;
	top : 5px;
	left: 38px;
}

.local_popul_service > ul > li > .contents >.text_box > .star_box >.fa-star:nth-child(4) {
	position : absolute;
	top : 5px;
	left: 57px;
}

.local_popul_service > ul > li > .contents >.text_box > .star_box >.fa-star:nth-child(5) {
	position : absolute;
	top : 5px;
	left: 75px;
}
/*지역인기 끝*/
/*배너2*/
.banner_2{
	
	position : absolute;
	
	height: 200px;
	
	top : 2150px;
}
/*배너2 끝*/

/*바로가기*/
.useful_func{
	position : absolute;
	width : 1200px;
	height: 412px;
	top: 2500px;
	left :  22.552083333333332vw;
}
.useful_func>.swiper-wrapper >.swiper-slide{
	display : inline-flex;
}
.useful_func>.swiper-wrapper >.swiper-slide >.text_box {
	
	position : absolute;
	
	width: 714px;
	height: 591px;
	
	top : 0px;
	left: 779px;
}
.useful_func>.swiper-wrapper >.swiper-slide > .text_box > .subhead {
	
	position : absolute;
	
	width: 365px;
	height: 58px;
	
	font-family: Noto Sans KR;
	font-size: 40px;
	font-weight: 500;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: right;
	top : 45px;
	
}
.useful_func>.swiper-wrapper >.swiper-slide > .text_box  > .text {
	
	position : absolute;
	
	width: 320px;
	height: 78px;
	
	
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: right;
	color: #555555;
	
	top : 148px;
	left : 40px;
}


.useful_func>.swiper-wrapper >.swiper-slide >  .text_box  > .useful_func_submit{
	
	position : absolute;
	outline: none;
	background: #000000;
	border-radius: 30px;
	width: 150px;
	height: 50px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	left: 220px;
	top : 320px;
	/* identical to box height, or 133% */

	color: #FFFFFF;
}
.useful_func> .swiper-wrapper >.swiper-slide >  .text_box  > .useful_func_submit:hover{

	cursor: pointer;
}
.useful_func>.swiper-wrapper >.swiper-slide > .img_box {
	position : absolute;
	width: 513px;
	height: 412px;
	left : 0px;
}
.useful_func>.swiper-wrapper >.swiper-slide > .img_box > .img_1 {
	
	width: 513px;
	height: 350px;
	margin : 16px 0 0 0;
	background: #C4C4C4;
	border-radius: 30px;
	
	
}
.useful_func>.swiper-wrapper >.swiper-slide > .img_box > .img_2 {
	width: 513px;
	height: 350px;
	margin : 16px 0 0 0;
	background: #FF9A9A ;
	border-radius: 30px;
	
	
}
/*바로가기 끝*/

/*인기 리뷰*/
.review_box{
	position: absolute;
	
	width: 1920px; height: 723px;
	
	top : 3000px;
}
.review_box > p {
	
	width: 59px; height: 46px;
	
	position: absolute;
	
	left : 920px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 46px;
	
	color: #000000;
}
.review_box > .content_box {
	
	display : inline-flex;
	width : 1920px;
	height: 700px;
	
}
.review_box > .content_box > .swiper-wrapper{
	position: absolute;
	
	left : 0;
	top : 150px;
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide{
	width: 330px; height: 450px;
	text-align: left;
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content {
	
	width: 330px; height: 450px;
	
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .img_box > img {
	
	position : absolute;
	
	width: 300px;
	height: 255px;
	
	top : 12px; left : 12px;
	
	background-color: #C4C4C4;
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .text_box {
	
	position : absolute;
	
	width: 264px;
	
	top : 298px; left : 28px;

}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .text_box > .name {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .text_box > .text {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	margin : 20px 0;
	
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .text_box > .star_box{
	
	position: absolute;
	top : 5px; left : 155px;
	
}
.review_box > .content_box > .swiper-wrapper > .swiper-slide > .content > .text_box > .star_box >  .fa-solid, .fas {
	font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
	color : #C4C4C4;
}
/*인기 리뷰 끝*/