.modal_background_login {
		
		display :none;
			
		position : fixed;
	
		z-index : 1;
		
		left : 0; top : 0;
		
		overflow : auto;
		
		width: 1920px; height: 100%;
		
		background-color: rgba(0,0,0,0.5);
}
/*로그인 모달 시작*/
.login_modal {
	
	position: relative;

	width: 450px; height: 600px;
	background-color: #fff;
	left : 710px; top : 200px;
	
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
	
	animation-name : modalopen;
	animation-duration : 1s;
	
}

@keyframes modalopen{
	from {
			opacity: 0
		}
	to { 
		opacity : 1;
	}
}

.login_modal > .closeBtn {
	width : 40px; height : 40px;
	position: absolute;
	top:-25px;
	right : -25px;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	
	background-color: #fff;
	
	border-radius: 40px;
	
	cursor : pointer;
}
.login_modal > .login_box > .closeBtn:hover {
	cursor: pointer;
}
.login_modal > .login_box > .division {
	display : inline-flex;
	width: 450px; height: 65px;
}

.login_modal > .login_box > .division > .user_btn {
	width: 225px;
	
	background-color: #fff;
}
.login_modal > .login_box > .division > .user_btn:hover {
	cursor : pointer;
}
.login_modal > .login_box > .division > .user_btn > p {
	
	margin : 0;
	
	position: absolute;
	top: 17px; left: 93px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
}
.login_modal > .login_box > .division > .co_btn{
	width: 225px;
	
	background-color: #2E407B;
	
	box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.25);
	
	
}
.login_modal > .login_box > .division > .co_btn:hover {
	cursor : pointer;
}
.login_modal > .login_box > .division > .co_btn > p {
	
	margin : 0;
	
	position: absolute;
	top: 17px; right: 93px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
	color:#fff;
}
.login_modal > .login_box > .input_box {
	position: absolute;
	
	top : 225px;
	left: 50px;
	
	
}

.login_modal > .login_box > div > .logo {
	
	position : absolute;
	
	width: 200px; height: 50px;
	
	left: 125px; top : 130px;
	
}
.login_modal > .login_box > .input_box > .id_input > input {
	
	padding : 0 0 0 30px;
	
	width : 320px; height : 55px;
	
	border : none;
	
	outline : none;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	
}
.login_modal > .login_box > .input_box > .pw_input > input {
	
	margin : 30px 0 0 0;
	
	padding : 0 0 0 30px;
	
	width : 320px; height : 55px;
	
	border : none;
	
	outline : none;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
}
.login_modal > .login_box > .button_box {
	position: absolute;
	
	top : 415px; left: 50px;

}
.login_modal > .login_box > .button_box > button {
	width : 350px; height : 55px;
	
	background-color: #2E407B;
	
	border : none;
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
	color: #FFFFFF;
}
.login_modal > .login_box > .button_box > button:hover{
	cursor: pointer;
}

.login_modal > .login_box > .option_box{
	position : absolute;
	display: inline-flex;
	
	top : 500px; left : 109px;
}
.option_box > p {
	margin: 0;padding: 0;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	
	color: #555555;
	
}
.option_box > p:nth-child(3) {
	margin: 0 5px 0 5px;
}
.option_box > p:nth-child(2) {
	margin: 0 0 0 5px;
}
.option_box > p:nth-child(4) {
	margin: 0 5px 0 0;
}
.option_box > p:nth-child(1):hover {
	font-weight: 900;
	cursor: pointer;
}
.option_box > p:nth-child(3):hover {
	font-weight: 900;
	cursor: pointer;
}
.option_box > p:nth-child(5):hover {
	font-weight: 900;
	cursor: pointer;
}
/*로그인 모달 끝*/
/*아이디 찾기*/
.login_modal > .findid_box {
	display : none;
}
.login_modal > .findid_box > .division {
	display : inline-flex;
	width: 450px; height: 65px;
}

.login_modal > .findid_box > .division > .findid_btn {
	width: 225px;
	
	background-color: #fff;
}
.login_modal > .findid_box > .division > .findid_btn:hover {
	cursor : pointer;
}
.login_modal > .findid_box > .division > .findid_btn > p {
	
	margin : 0;
	
	position: absolute;
	top: 21px;
    left: 74px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
}
.login_modal > .findid_box > .division > .findpw_btn{
	width: 225px;
	
	background-color: #2E407B;
	
	box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.25);
	
	
}
.login_modal > .findid_box > .division > .findpw_btn:hover {
	cursor : pointer;
}
.login_modal > .findid_box > .division > .findpw_btn > p {
	
	margin : 0;
	
	position: absolute;
	top: 21px;
    right: 66px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
	color:#fff;
}
.login_modal > .findid_box > .logo_box{
	width : 200px;
	height : 50px;
}
.login_modal > .findid_box > .logo_box > img {
	position : absolute;
	width: 600px;
    top: -140px;
    left: -80px;
}
.login_modal > .findid_box > .input_box {
	position: absolute;
	
	top : 225px;
	left: 50px;
	
	
}
.login_modal > .findid_box > .input_box > .name_input > input {
	
	padding : 0 0 0 30px;
	
	width : 320px; height : 55px;
	
	border : none;
	
	outline : none;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	
}
.login_modal > .findid_box > .input_box > .email_input > input {
	
	margin : 30px 0 0 0;
	
	padding : 0 0 0 30px;
	
	width : 320px; height : 55px;
	
	border : none;
	
	outline : none;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
}
.login_modal > .findid_box > .button_box {
	position: absolute;
	
	top : 415px; left: 50px;

}
.login_modal > .findid_box > .button_box > button {
	width : 350px; height : 55px;
	
	background-color: #2E407B;
	
	border : none;
	border-radius: 10px;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	
	color: #FFFFFF;
}
.login_modal > .findid_box > .button_box > button:hover{
	cursor: pointer;
}
/*아이디 찾기 끝*/